body{
  background-color:black;
  color:white;
}
.cards{
  display: grid;
  grid-template-columns: repeat(3 1fr);
  grid-template-rows:repeat(4,minmax(100px,auto));
  grid-template-areas: 
  "header header header"
  "Mov1 Mov2 Mov3"
  "Mov4 Mov5 Mov6"
  "footer footer footer";

}
header{ 
  grid-area:header;
  border: 2px solid white;
  align-items:center;
}
#Mov1{
 grid-area:Mov1;
}
#Mov2{
  grid-area:Mov2;
}
#Mov3{
  grid-area:Mov3;
}
#Mov4{
  grid-area:Mov4;
}

#Mov5{
grid-area:Mov5;
}

#Mov6{
  grid-area:Mov6;
}

footer{
   grid-area:footer;
}

.card{
 display: grid;
 grid-template-columns: repeat(3,150px);
 grid-template-rows:repeat(4,minmax(50px,auto));
 margin:10px;
 padding-left:5px;
 border: 2px dashed white;
  align-items: center;

}
.card h1{
  grid-column:1/4;
  grid-row:1/2;
} 
.card h3{
  grid-column:1/4;
  grid-row:2/3;
}
.card ,.date{
  grid-column:1/2;
  grid-row:3/4;
  margin:10px;
 
}
.card ,.time{
  grid-column:2/3;
  grid-row:3/4;
   margin:10px;
}
.card ,.rating{
  grid-column:3/4;
  grid-row:3/4;
   margin:10px;
}
.card, .image-card{
  grid-column:1/4;
  grid-row:4/5;
}


.image-card{
  display:grid;
  grid-template-columns:350px;
  grid-template-rows:350px;
}
.image-card img , .description {
  grid-column:1;
  grid-row:1;
}
.description{
  display: flex;
  align-items:center;
  justify-content: center;
  padding:20px;
  color:white;
  opacity:0;
 
}

.image-card img:hover ,.description:hover {
  background-color:grey;
  color:white;
  opacity:1;
}

img{
  width:350px;
  height:350px;
}
@media screen and (min-width:1168px){
  .cards{
    display: grid;
    grid-template-columns:
  }
}

